body{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; 
}
.container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 500px;
   height: 500px;
   background-color: aqua;
   flex-wrap: wrap;
 
}
.grid-item{
   background-color: rgb(249, 247, 250);
   border: 1px black solid;
   width: 100%;
   height: 100%;
  
 
 
   
    
}
.color-item{
   background-color: green;
}
.btn{
   position: relative;
   background-color: rgb(120, 236, 191);
   margin: 5px;  
}
/*.grid-item:hover{
   background-color: red;
}